<form class="mt-4" method="POST">
    <div class="col-auto">
        <label class="visually-hidden">Tu khoa</label>
        <input type="text" name="q" class="form-control" placeholder="Nhap tu khoa...">
    </div>
    <div class="col-auto">
        <label class="visually-hidden">Tu khoa</label>
        <select name="gender" class="form-control" >
            <option value="">--Chon gender---</option>
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Tim kiem</button>
    </div>
</form>