<body>
    <div id="nav">NAVIGATION</div>
    <div class="flashes">
        <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
        <div class="flash success"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) { %>
        <div class="flash error"><%= flashMessages.error %></div>
        <% } %>
        <% } %>
    </div>
    <%- body %>
    <div id="footer">FOOTER</div>
</body>