<div class="mt-4">
    <h3>POST Blog</h3>
    <form method="post" action="/courses/store">

        <div class="mb-3">
            <label for="name" class="form-label">Chu De</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Mo ta trang thai</label>
            <textarea type="text" class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>

        <button type="submit" class="btn btn-primary">Them bai post</button>
    </form>
</div>